.employee-card {
  color: #7e7e7e;
  background: white;
  box-shadow: 1px 1px 2px 1px rgb(179, 202, 216);
  border: 2px solid var(--secondary-blue);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr; /* Three rows: name, image, role */
  align-items: center;
  justify-items: center;
  height: 40vh;
  width: 90%;
  overflow-y: auto; /* Enables vertical scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.employee-card:hover {
  box-shadow: 1px 1px 1px 1px var(--secondary-hover-blue);
}

.employee-card h3 {
  font-size: 1.2rem;
  color: var(--primary-blue);
  text-align: center;
  min-height: 50px; /* Ensures uniform name spacing */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.employee-card-img {
  width: 80%;
  border: 2px solid var(--primary-blue);
  /* max-width: 150px; */
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.employee-card p {
  color: var(--secondary-blue);
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

/* Keep LinkedIn icon at bottom */
.linkedin {
  margin-top: auto;
  margin-bottom: 0px;
}

@media (max-width: 1024px) {
  .employee-card {
    width: 90%;
    height: 500px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .employee-card {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 475px) {
  .employee-card {
    width: 60%;
    margin: auto;
  }
}
