.partner-card {
  width: 90%;
  height: 40vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 2px solid rgb(3, 35, 71);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* Enables vertical scrolling */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.partner-card:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 4px 4px rgb(209, 222, 228);
}

@media (max-width: 1024px) {
  .partner-card {
    width: 90%;
    height: 500px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .partner-card {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
  .partner-card {
    width: 60%;
    margin: auto;
  }
}
