.expertises-page {
  background-color: black;
  background-image: linear-gradient(to right, rgb(14, 18, 22), rgb(23, 40, 71));
  color: rgb(243, 243, 243);
}

.carousel {
  width: 100%;
}

/* #overview {
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
} */

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
}

#numeric-health {
  background: #fff;
  color: #181818;
}
