.news-panel {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 5px;
}

.news-panel > div {
  display: flex;
  flex: 1; /* This makes each panel inside the test-panel fill available space */
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Give each panel a different background color */
.test-panel-1 {
  background-color: #e48d8d;
}

.test-panel-2 {
  background-color: #9ce985;
}

.test-panel-3 {
  background-color: #eef07f;
}

.test-panel-1,
.test-panel-2,
.test-panel-3 {
  border: 3px solid blue;
  width: 90vw;
  display: flex;
  flex-direction: column;
}
