/* FOOTER COMPONENT */
.footer {
  background-color: #333;
  color: #fff;
  padding: 0px;
  margin: 0;
  text-align: center;
  width: 100%;
  scroll-snap-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 10%;
}

.made-by,
.copyright,
.privacy {
  flex: 1;
  /* margin: 10px; */
  font-size: 0.8rem;
}

.privacy {
  text-align: center;
}

.footer .copyright p,
.footer .privacy p {
  margin: 5px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer .blank {
  flex: 1;
}

@media (max-width: 1024px) {
  .footer-content {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .privacy {
    margin-right: 0;
    padding: 8px;
  }

  .made-by,
  .copyright,
  .contact-info {
    width: 100%;
    text-align: center;
  }
  .footer .blank {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 10px 0;
  }
  .footer-content {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .privacy {
    padding: 6px;
  }

  .made-by,
  .copyright,
  .privacy {
    font-size: 0.9rem;
  }
}

@media (max-width: 640px) {
  .footer {
    
    padding: 8px 0;
  }
  .footer-content {
    gap: 6px;
  }
  .privacy {
    padding: 4px;
  }

  .made-by,
  .copyright,
  .privacy {
    font-size: 0.85rem;
  }
}

@media (max-width: 475px) {
  .footer {

    padding: 6px 0;
  }
  .footer-content {
    gap: 4px;
  }

  .privacy {
    padding: 2px;
  }

  .made-by,
  .copyright,
  .privacy {
    font-size: 0.4rem;
  }
}