/* ---------- FOOTER BASE ---------- */
.footer {
  margin-top: 15vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  z-index: 1000;
  background-color: #80121200;
  border-top: 1px solid grey;
  color: #4d4d4d;
  width: 100%;
}

.footer > .footer-logo,
.footer > .footer-partners,
.footer > .footer-privacy {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-left: 4em;
}

/* ---------- FOOTER LOGO ---------- */
.footer-logo {
  display: flex;
}

.footer-logo .logo-icon {
  display: flex;
  margin-top: 1em;
  transition: transform 0.3s ease;
}

.footer-logo .logo-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer-links-and-contact {
  grid-column: 2 / span 2; /* spans col 2 and 3 of the footer grid */
  display: grid;
  grid-template-columns: 1fr 1fr; /* internal 2-column grid */
  gap: 2em;
  width: 100%; /* let it fill its grid space */
}

/* ---------- FOOTER LINKS ---------- */
.footer-links {
  grid-column: 1;
  margin-top: 3.2em;
  padding-left: 1em;
  flex-direction: column;
}

.footer-links h2 {
  margin-bottom: 0.5em;
}

.footer-links a {
  margin-top: 1em;
  color: #4d4d4d;
  text-decoration: none;
  font-weight: 500;
  font-size: var(--text-m);
}

.footer-links a:hover {
  text-decoration: underline;
}

/* ---------- FOOTER CONTACT ---------- */
.footer-contact {
  grid-column: 2;
  padding-left: 1em;
  margin-top: 3.2em;
}

.footer-contact .address-lines {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.footer-contact span {
  font-size: var(--text-m);
}

.footer-contact .map-icon {
  margin-top: 1em;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

/* This is just because the map png image isn't center on itself */
.footer-contact .map-icon:hover {
  cursor: pointer;
  transform: scale(1.1) translateX(10px);
}

/* ---------- FOOTER PARTNERS ---------- */
.footer-partners {
  padding: 2em;
  grid-column: 4 / span 2;
  align-items: flex-start;
  background-color: white;
}

.footer-partners h2 {
  margin-block-end: 0em !important;
}

/* ---------- FOOTER PRIVACY ---------- */
.footer-privacy {
  text-align: left;
  margin: 3em 0;
  padding: 0 0;
}

.footer-privacy-mobile {
  text-align: left;
  margin: 3em 2em;
  padding: 0 0;
}

.footer-privacy a,
.footer-privacy-mobile a {
  color: #4d4d4d;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
  }

  .footer > .footer-logo,
  .footer > .footer-partners,
  .footer > .footer-privacy {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 0em;
  }

  .footer-links-and-contact {
    display: flex;
    gap: 20%;
    align-items: baseline;
    justify-content: center;
  }

  .footer-contact span {
    font-size: var(--text-s);
  }

  .footer-links h2 {
    margin-bottom: 0.5em;
  }

  .footer-links a {
    margin-top: 1em;
    color: #4d4d4d;
    text-decoration: none;
    font-weight: 500;
    font-size: var(--text-s);
  }

  .footer-partners {
    background-color: white;
    padding: 0 !important;
    margin: 0;
    width: 100%;
  }

  .footer-privacy {
    position: relative; /* no absolute positioning */
    bottom: auto;
    left: auto;
    margin-top: 2em;
    text-align: left; /* change to center if preferred */
    padding: 0;
  }

  .contact-sponsor-logos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  .contact-sponsor-logos h2 {
    padding-left: 2em;
  }

  .contact-sponsor-logos img {
    margin-bottom: 1em;
  }
}
