/* ---------- FOOTER BASE ---------- */
.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  z-index: 1000;
  background-color: #80121200;
  border-top: 1px solid grey;
  color: #4d4d4d;
  width: 100%;
}

.footer > div {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-left: 4em;
}

/* ---------- FOOTER LOGO ---------- */
.footer-logo {
  display: flex;
}

.footer-logo .logo-icon {
  display: flex;
  margin-top: 1em;
  transition: transform 0.3s ease;
}

.footer-logo .logo-icon:hover {
  cursor: pointer;
  transform: scale(
    1.1
  ); /* optional offset can be added if desired */
}

/* ---------- FOOTER LINKS ---------- */
.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links h2 {
  margin-bottom: 0.5em;
}

.footer-links a {
  color: #4d4d4d;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* ---------- FOOTER CONTACT ---------- */
.footer-contact .address-lines {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.footer-contact span {
  font-size: var(--text-s);
}

.footer-contact .map-icon {
  margin-top: 1em;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.footer-contact .map-icon:hover {
  cursor: pointer;
  transform: scale(1.1) translateX(10px); /* enlarge and move right */
}

/* ---------- FOOTER PARTNERS ---------- */
.footer-partners {
  padding: 2em;
  grid-column: 4 / span 2;
  align-items: flex-start;
  background-color: white;
}

.footer-partners h2 {
  margin-block-end: 0em !important;
}

/* ---------- FOOTER PRIVACY ---------- */
.footer-privacy {
  position: absolute;
  bottom: 2em;
  left: 2em;
  text-align: center;
  padding: 1em 0;
}

.footer-privacy a {
  color: #4d4d4d;
  text-decoration: none;
}
