.layout-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px rgb(2, 32, 88);
}

.layout-header img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  z-index: 6;
}

.language-switcher {
  display: flex;
  margin-right: 20px;
  z-index: 6;
}

.language-button {
  color: grey;
  background: none;
  border: none;
}

.language-button:hover {
  cursor: pointer;
}

.language-button.active {
  color: black;
  font-weight: bold;
}

.bg-test {
  display: none;
}

@media (max-width: 1495px) {
}

@media (max-width: 1200px) {
  .bg-test {
    display: block;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    backdrop-filter: blur(4px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(4px); /* Safari support */
    z-index: 5;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }

  .layout-header {
    background: none;
    box-shadow: none;
  }

  .language-switcher {
    position: fixed;
    left: 20px;
    top: 20px;
  }

  .language-switcher-spacer {
    color: grey;
  }

  .language-button.active {
    color: white;
  }

  .layout-header img {
    display: none;
  }
}
