.nav {
  display: flex;
  height: 100%;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.nav-item {
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin-right: 0;
  width: 200px;
  text-align: center;
  display: flex;
  position: relative; /* Ensure dropdown is positioned correctly */
}

.nav-item a {
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: rgb(61, 61, 61);
  display: block;
}

.nav-list li {
  display: inline-block;
  padding-top: 35px;
  position: relative;
}

.nav-item:hover {
  background-color: rgba(129, 194, 255, 0.349);
}

.nav-item:hover a {
  color: #105fa8;
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in;
  transform: translateY(-10px);
  box-sizing: border-box;
  padding: 0; /* Ensure no padding around the div */
}

.dropdown li {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(82, 200, 255, 0.637);
  box-shadow: 0 3px 4px 0px rgba(0, 162, 255, 0.226);
  line-height: 1; /* Remove extra line height between items */
}

.dropdown li:first-child {
  border-top: 1px solid rgb(37, 37, 37);
}

.dropdown li:hover {
  background-color: #c4f0ff;
  cursor: pointer;
}

/* Mobile Styling */
@media (max-width: 1024px) {
  .hamburger {
    background: none;
    border: none;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
  }

  .nav-list {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 0;
  }

  .nav-list.show {
    right: 0;
  }

  .nav-list li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  .nav-list a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(59, 73, 104);
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }

  span {
    display: inline-block;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
}

@media (max-width: 1024px) {
}
