.nav {
  height: 100%;
  width: 80%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  /* font-family: "Urbanist", sans-serif; */
  font-family: "Mulish", sans-serif;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 95%;
}

.nav-item {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-left: 20px;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.nav-item a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: rgb(62, 75, 102);
}

.nav-list li {
  font-size: 16px;
  display: inline-block;
  padding-top: 35px;
}

.nav-item:hover {
  z-index: 10;
  /* background-color: rgba(163, 207, 248, 0.349); */
  /* box-shadow: -1px 0px 3px 0px rgb(112, 140, 177), */
  /* 1px 0px 3px 0px rgb(112, 140, 177); */
}

.nav-item:hover a {
  color: #498cca;
}

.dropdown {
  position: absolute;
  width: 230px;
  top: 80%;
  left: -03%;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 0px 3px 0px rgb(112, 140, 177),
    1px 0px 3px 0px rgb(112, 140, 177), 0px 1px 3px 0px rgb(78, 99, 126);
  border-radius: 10px;
  /* border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px; */
  box-sizing: border-box;
  padding: 0;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  margin: 0;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  color: rgb(21, 47, 82);
  border-bottom: 1px dotted rgb(112, 140, 177);
  line-height: 1.5;
  text-align: left;
}

.dropdown li:last-child {
  border: none;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.dropdown li:first-child {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.dropdown li:hover {
  background-color: #ffb300a9;
  cursor: pointer;
}

.nav-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown li {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown-clickable-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px; /* Add padding for a larger clickable area */
  cursor: pointer;
  width: 100%; /* Ensure it spans the full width of the menu item */
}

.dropdown-clickable-zone:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Optional hover effect */
}

.dropdown-toggle {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1495px) {
  .nav-item {
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
  }
}

/* Mobile Styling */
/* @media (max-width: 1024px) { */
@media (max-width: 1200px) {
  .dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    top: 80%;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    padding: 0;
    z-index: 100;
    padding: 0;
  }

  .dropdown li {
    padding: 10px;
    margin: 0px;
    height: 40px;
  }

  .dropdown li:first-child {
    border-radius: 0px;
  }

  .dropdown li:last-child {
    border-radius: 0px;
  }

  .hamburger {
    background: none;
    border: none;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
  }

  .nav-list li:first-child {
    margin-top: 20px; /* Add more space above the first item */
    display: hidden;
  }

  .nav-list {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 1002;
    padding: 0;
    font-size: 18px;
  }

  .nav-list.show {
    right: 0%;
  }

  .nav-list li {
    width: 100%;
    text-align: center;
    font-size: small;
    padding: 20px 0;
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  span {
    display: inline-block;
    margin-right: 30px;
  }
}

@media (max-width: 822px) {
  .nav-list {
    width: 60%; /* Adjust the width to make it fit better */
  }

  .nav-list.show {
    right: 0;
  }

  .nav-list a {
    font-size: 20px; /* Slightly smaller font size */
    padding: 8px 15px; /* Adjust padding for better spacing */
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .nav-list {
    width: 80%; /* Adjust the width to make it fit better */
  }

  .nav-list.show {
    right: 0;
  }

  .nav-list a {
    font-size: small; /* Slightly smaller font size */
    padding: 8px 15px; /* Adjust padding for better spacing */
  }
}
