/* General Navbar Styling */
.nav {
  position: relative;
}

.nav-item {
  position: relative;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.nav-item a {
  font-weight: 300;
  font-size: 20px; /* Ensure consistent font size */
  color: #000; /* Ensure color stays black */
  text-decoration: none; /* Remove default underline */
}

/* Reset visited link behavior */
.nav-item a:visited {
  color: #000; /* Ensure the visited link doesn't turn purple */
}

/* Remove underline and style on hover */
.nav-item a:hover {
  /* Optional: underline on hover */
  color: #4e4e4e; /* Optional: Keep the same color on hover */
}

/* Dropdown Styles */
.dropdown {
  display: none; /* Hide by default */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.nav-item:hover .dropdown {
  display: block; /* Show on hover */
}

.dropdown li {
  list-style-type: none;
  padding: 5px 0;
}

.dropdown li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.nav-item:hover a {
  text-decoration: bold; /* Optional: underline text on hover */
}

/* Mobile Styling */
@media (max-width: 1024px) {
  .hamburger {
    background: none;
    border: none;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
  }

  .nav-list {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 0;
  }

  .nav-list.show {
    right: 0;
  }

  .nav-list li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  .nav-list a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(59, 73, 104);
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }

  span {
    display: inline-block;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {}

@media (max-width: 640px) {}

@media (max-width: 475px) {}

/* Media Query for mobile */
@media (max-width: 1024px) {}