/* ========================= */
/* SCROLL PANEL */
/* ========================= */

.scroll-panel {
  scroll-snap-align: center;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 100%;
  margin: 0;
  z-index: 2;
}

.scroll-panel p {
  padding: 10px;
  text-align: justify;
}

@media (max-width: 1024px) {
  .scroll-panel {
    height: 100vh;
  }
}

.scroll-panel-error {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.scroll-panel-error h2 {
  font-size: 18px;
  font-weight: bold;
}

.scroll-panel-error p {
  font-size: 14px;
}
