/* GLOBAL CSS */
:root {
  /* --bg-color-light: #f4faff; */
  --text-color-light: #1a1a1a;
  --secondary-text-color-light: #4f4f4f;
  --primary-blue: #005ba1;
  --primary-hover-blue: #0088e2;
  --secondary-blue: #3ea7e1;
  --secondary-hover-blue: #72c5f0;

  /* Aug-1 updated mockup */
  --text-l6: 6rem;
  --text-l5: 5rem;
  --text-l4: 4rem;
  --text-l3: 3rem;
  --text-l2: 2rem;
  --text-l1: 1.6rem;
  --text-m: 1.6rem;
  --text-s: 1.2rem;
  --gridline-light-blue: #f0f0f0;
  --gridline-med-blue: #0056b3;
  --color-dodger-blue: #2d76ff;
  --color-button-blue: #1d76d4;
  --color-button-light-blue: #6c9fff;

  /* Margins, used for animating scrolling elements */
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1rem;
  --space-l: 4rem;
  --space-xl: 8rem;
  --space-xxl: 12rem;

  @import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap");

  font-family: "Urbanist", sans-serif !important;

  figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* GLOBAL PADDING TABLET/MOBILE */

@media (max-width: 1200px) {
  :root {
    --global-page-padding: 0 4em 0 4em;
  }
}

@media (max-width: 576px) {
  :root {
    --global-page-padding: 0 2em 0 2em;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(20vw - 1px),
    var(--gridline-light-blue) calc(20vw - 2px),
    var(--gridline-light-blue) 20vw
  ); */
}

.background-triangles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      to bottom left,
      transparent 50%,
      #3498db 50%
    )
    center/200% 200%;
  z-index: -1;
}

.background-triangles::before,
.background-triangles::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.background-triangles::before {
  border-bottom: 87px solid #3498db;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.background-triangles::after {
  border-top: 87px solid #e74c3c;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Generic Shapes */

.circle-medium {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--color-dodger-blue);
}

@media screen and (max-width: 1200px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
