.about-us-icon-light {
  --icon-color: white;
  --icon-hover-color: var(--color-button-light-blue);
}

.about-us-icon-blue {
  --icon-color: var(--color-dodger-blue);
  --icon-hover-color: var(--color-button-blue);
}

.about-us-icon-wrapper {
  position: fixed;
  z-index: 2;
  right: 4vw;
  top: 24vh;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.2s ease, transform 0.2s ease;
  padding: 10px;
}

.about-us-icon-border {
  border: 3px solid var(--icon-color);
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: border 0.2s ease;
}

.about-us-icon-text {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.about-us-icon-text h4 {
  transition: color 0.2s ease;
  font-size: var(--text-m);
  font-weight: 400;
  color: var(--icon-color);
  margin: 0;
  width: 100%;
}

.about-us-icon-svg {
  fill: var(--icon-color);
  width: 80px;
  height: 80px;
  margin-left: 0px;
  transition: fill 0.2s ease;
}

.about-us-icon-wrapper:hover {
  transform: scale(1.05);
}

.about-us-icon-wrapper:hover .about-us-icon-border {
  border-color: var(--icon-hover-color);
}

.about-us-icon-wrapper:hover h4 {
  color: var(--icon-hover-color);
}

.about-us-icon-wrapper:hover .about-us-icon-svg {
  fill: var(--icon-hover-color);
}
