.learn-more-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
  height: 45px;
  color: rgb(226, 226, 226);
  background: linear-gradient(
    to bottom,
    var(--primary-blue),
    var(--secondary-blue)
  ); /* Vertical gradient from white to light blue */
  border: 1px solid rgb(68, 155, 255);
  box-shadow: 2px 2px 4px 1px rgba(105, 105, 105, 0.616);
  border-radius: 15px;
  z-index: 20;
}

.learn-more-button:hover {
  cursor: pointer;
}
