body {
  margin: 0;
  background-color: #2e3537;
  overflow-x: hidden;
  height: 100vh;
}

.landing-container {
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
  font-size: 2rem;
  text-align: center;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.panel1 {
  background-color: #00274d;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.panel2 {
  background-color: #0084ff;
  position: relative;
  padding-top: 500px;
  /* min-height: 100vh; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 150px;
  z-index: 2;
  scrollbar-width: none;
}

.panel2-content {
  position: relative;
  z-index: 2;
}

.filler-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filler-box {
  height: 300px;
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 30px;
  margin: 30px;
  color: white;
  border-radius: 10px;
  z-index: 3;
}

.panel1-faded {
  top: 0;
}

.panel2 h2 {
  font-size: 2rem;
  color: white;
  z-index: 2;
}

.panel2::-webkit-scrollbar {
  display: none;
}
