.about-overview-grid {
  width: 90%;
  height: 80%;
  display: grid;
  position: relative;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
  padding-top: 90px;
}

.about-overview-history {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  grid-row: 1 / span 2;
  grid-column: 1 / span 9;
}

.about-overview-history span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-overview-history-text {
  line-height: 1.5;
}

.small-circle {
  background-color: rgb(49, 87, 156);
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.about-overview-mission,
.about-overview-vision,
.about-overview-values {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  position: relative;
}

.about-overview-mission {
  grid-row: 3 / span 2;
  grid-column: 1 / span 3;
}

.about-overview-vision {
  grid-row: 3 / span 2;
  grid-column: 4 / span 3;
}

.about-overview-values {
  grid-row: 3 / span 2;
  grid-column: 7 / span 3;
}

.about-heading {
  font-weight: bolder;
  margin-bottom: 10px;
  color: rgb(49, 49, 49);
}

.about-list {
  list-style-type: none;
  padding: 0;
}

.about-list-item {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(22, 56, 102);
}

.about-paragraph {
  margin-top: 0px;
  font-weight: 400;
  font-size: 20px;
}

.mission-details,
.vision-details,
.values-details {
  position: absolute;
  top: 60px;
  left: 45px;
  width: 70%;
  min-height: 40%;
  padding: 30px;
  background-color: rgb(172, 222, 255);
  border-radius: 20px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.1s ease-out;
}

.mission-details.open,
.vision-details.open,
.values-details.open {
  transform: scaleX(1);
}

.details-text {
  font-size: 18px;
}

.about-toggle-button {
  background-color: rgb(65, 125, 216);
  border: 3px dashed rgb(152, 179, 238);
  position: absolute;
  bottom: 100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 28px;
  cursor: pointer;
  color: rgb(186, 216, 250);
}

.about-toggle-button-mobile {
  background-color: rgb(65, 125, 216);
  border: 3px dashed rgb(152, 179, 238);
  position: absolute;
  bottom: 45%;
  right: 2%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: rgb(186, 216, 250);
  z-index: 3;
}

.full-details-mobile {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  color: rgb(3, 90, 161);
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  opacity: 0; /* Initially hidden */
}

.full-details-mobile.show {
  opacity: 1; /* Fade in */
}

.full-details-mobile h2 {
  margin-top: 40px;
  font-size: 24px;
}

.full-details-mobile p {
  font-size: 14px;
  line-height: 1.2;
}

.about-toggle-button:hover,
.about-toggle-button-mobile:hover {
  color: rgb(65, 125, 216);
  background-color: rgb(186, 216, 250);
}

.mission-bullet-points.hide,
.vision-bullet-points.hide,
.values-bullet-points.hide {
  display: none;
}

.mission-bullet-points,
.vision-bullet-points,
.values-bullet-points {
  margin: 0;
}

@media (max-width: 1200px) {
  .about-overview-grid {
    height: 90%;
    width: 90%;
    display: grid;
    margin-top: 20px;
    gap: 0;
    position: relative;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .about-toggle-button {
    bottom: 40%;
    right: 10%;
  }

  .about-overview-history-text {
    line-height: 1.2;
  }

  .mission-details,
  .vision-details,
  .values-details {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    min-height: 100px;
    max-height: 150px;
    padding: 50px 10px 10px 10px;
    background: linear-gradient(
      to bottom,
      transparent 3%,
      rgba(227, 242, 255, 1)
    );
    border-radius: 20px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.1s ease-out;
  }

  .about-heading {
    z-index: 1;
    margin-bottom: 0;
    padding-left: 20px;
  }

  .about-list-item {
    font-size: 18px;
    padding-left: 20px;
  }

  .about-overview-background {
    display: none;
  }

  .about-paragraph {
    font-size: 18px;
    font-weight: 200;
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }

  .about-overview-history {
    grid-column: 1 / span 1;
  }

  .about-overview-mission {
    grid-row: 4 / span 2;
    grid-column: 1 / span 1;
  }

  .about-overview-vision {
    grid-row: 6 / span 2;
    grid-column: 1 / span 1;
  }

  .about-overview-values {
    grid-row: 8 / span 2;
    grid-column: 1 / span 1;
  }

  .about-overview-mission,
  .about-overview-vision,
  .about-overview-values {
    padding-left: 5%;
  }
}

@media (max-width: 1024px) {
  .about-overview-grid {
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .details-text {
    font-size: 14px;
  }

  .about-list-item {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .about-overview-grid {
    height: 90%;
  }

  .about-overview-details-text {
    font-size: 1em;
  }

  .about-overview-history {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .about-overview-grid {
    grid-template-rows: repeat(12, 1fr);
  }

  .about-toggle-button {
    bottom: 50%;
    right: 0%;
  }

  .about-heading {
    font-size: 1em;
  }

  .about-overview-history {
    grid-row: 1 / span 3;
  }

  .about-overview-mission {
    grid-row: 4 / span 3;
  }

  .about-overview-vision {
    grid-row: 7 / span 3;
  }

  .about-overview-values {
    grid-row: 10 / span 3;
  }
}

@media (max-width: 440px) {
  .about-overview-grid {
    grid-template-rows: repeat(9, 1fr);
  }
  .about-overview-history {
    grid-row: 1 / span 2;
  }

  .about-overview-mission {
    grid-row: 4 / span 2;
  }

  .about-overview-vision {
    grid-row: 6 / span 2;
  }

  .about-overview-values {
    grid-row: 8 / span 2;
  }

  .about-list-item {
    font-size: 16px;
  }

  .about-overview-history-text-mobile {
    font-size: 1em;
  }
}

@media (max-width: 300px) {
  .about-overview-history-text-mobile {
    /* font-size: 14px; */
  }
}
