.board-members-panel-grid {
  /* background-color: yellow; */
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  font-family: "Mulish", sans-serif;
}

.board-members-title {
  text-align: center;
  margin-bottom: 50px;
}

.board-members-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  /* max-width: 90%; */
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.individual-board-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* background-color: rgb(139, 180, 214); */
  border-radius: 8px;
  width: 220px;
  height: 220px;
}

.individual-board-member-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: rgb(228, 228, 228); /* Fallback if image fails */
}

.individual-board-member-name {
  font-weight: bold;
  font-size: 1em;
  margin-top: 8px;
}

.individual-board-member-position,
.individual-board-member-affiliation {
  text-align: center;
  font-size: 0.8em;
  color: #000000;
}

.board-pagination-controls {
  position: fixed;
  bottom: 100px;
}

@media (max-width: 768px) {
  .board-members-panel-grid {
    /* background-color: yellow; */
    height: 100%;
  }

  .board-members-content {
    height: 85%;
    gap: 10px;
  }

  .board-members-panel-grid {
    padding: 8px;
  }

  .individual-board-member {
    margin-top: 20px;
    width: 100%;
    width: 180px;
    height: 180px;
  }

  .individual-board-member-image {
    width: 100px;
    height: 100px;
  }

  .individual-board-member-position,
  .individual-board-member-affiliation {
    font-size: 0.7em;
    color: #000000;
  }
}

@media (max-width: 992px) {
  .board-members-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .board-members-content {
    height: 85%;
    gap: 8px;
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }

  .board-members-panel-grid {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures title and members align */
  }

  .board-members-title {
    margin-bottom: 40px; /* Reduce spacing */
  }

  .individual-board-member {
    margin-top: 0px; /* Remove top margin */
    width: 100%; /* Use full width */
    max-width: 300px; /* Prevent it from being too wide */
    height: 180px;
  }

  .individual-board-member-image {
    width: 120px;
    height: 120px;
  }

  .individual-board-member-position,
  .individual-board-member-affiliation {
    font-size: 0.8em;
    color: #000000;
  }
}
