.board-members-panel-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 16px; */
  position: relative;
}

.board-members-title {
  text-align: center;
  margin-bottom: 50px;
}

.board-members-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  align-items: center;
  /* width: 95%; */
  position: relative;
}

.individual-board-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 250px;
  height: 250px;
}

.individual-board-member-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: rgb(228, 228, 228);
}

.individual-board-member-name {
  font-weight: bold;
  font-size: 1em;
  margin-top: 8px;
}

.individual-board-member-position,
.individual-board-member-affiliation {
  text-align: center;
  font-size: 0.8em;
  color: #000000;
}

.board-pagination-controls {
  font-size: 1.4em;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 50%;
  width: 100%;
}

.board-pagination-arrow {
  font-size: 4em;
  background-color: transparent;
  border: none;
  color: rgb(55, 106, 182);
  cursor: pointer;
  transition: transform 0.2s;
}

.board-pagination-arrow:disabled {
  color: grey;
  cursor: not-allowed;
}

.board-pagination-arrow:hover {
  transform: scale(1.2);
}

@media (max-width: 1201px) {
}

@media (max-width: 992px) {
  .board-members-title {
    /* margin-bottom: 10px; */
  }
}

@media (max-width: 768px) {
  .board-members-panel-grid {
    height: 95vh;
    width: 100vw;
  }

  .board-members-content {
    /* height: 85%; */
    gap: 5px;
  }

  .board-members-panel-grid {
    padding: 8px;
  }

  .individual-board-member {
    margin-top: 20px;
    /* width: 100%; */
    /* width: 180px; */
    /* height: 180px; */
  }

  .individual-board-member-image {
    /* width: 100px; */
    /* height: 100px; */
  }

  .individual-board-member-position,
  .individual-board-member-affiliation {
    font-size: 0.7em;
    color: #000000;
  }
}

@media (max-width: 650px) {
  .board-members-panel-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding: 8px;
  }

  .board-members-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .board-members-content {
    flex-direction: column;
    justify-content: start;
    width: 80%;
    gap: 0px;
  }

  .individual-board-member {
    margin-top: 0;
    /* width: 100%; */
    height: 200px;
    padding: 0;
  }

  .individual-board-member-image {
    width: 120px;
    height: 120px;
  }

  .individual-board-member-position,
  .individual-board-member-affiliation {
    font-size: 0.8em;
    color: #000;
  }

  .board-pagination-controls {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}
