.parent {
    width: 70%;
    height: 80%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #E3F2FF;
}

.info-card-icons {
    width: 15px;
    height: 15px;
}

/* Card Style */
.cerasp-info,
.sponsors,
.contact-form-container {
    background: #E3F2FF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Contact Form Specific Styling */
.contact-form-container {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 3 / span 3;
    grid-row: 1 / span 3;
    background: #E3F2FF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);;
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* General Form Styling */
.form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two-column layout */
    gap: 10px;
}

/* Individual Component Styles */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 3px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E3F2FF;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.form-group textarea {
    width: 100%;
}

/* Specific Styles for Each Component */
.name-group {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.title-group {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.country-group {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.email-group {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.phone-group {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.company-group {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.message-group {
    grid-column: 1 / span 2; /* Span both columns */
    grid-row: 4 / span 1;
    height: 100%; /* Default height for the textarea */
    width: 100%;
    resize: none;
}

#message {
    width: 100%;
    height: 100%;
}

/* Captcha and Checkboxes */
.captcha-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.checkboxes-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.policy-field,
.newsletter-field {
    display: flex;
    align-items: center;
}

.policy-field input,
.newsletter-field input {
    margin-right: 8px;
}

/* Left Panels Specific Styling */
.contact-left-panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}

.cerasp-info {
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 50px;
    max-height: 50%;
}

.sponsors {
    grid-column: 1 / span 5;
    grid-row: 3 / span 2;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 50px;
}

/* Responsive Design */
@media (max-width: 1536px) {}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {
    .parent {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        display: grid;
    }
    .info-card-icons {
        width: 10px;
        height: 10px;
    }
    
    /* Contact Form Specific Styling */
    .contact-form-container {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        grid-column: 3 / span 3;
        grid-row: 1 / span 3;
        background: #E3F2FF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);;
        border-radius: 12px;
        padding: 15px;
        font-size: small;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .form-group textarea {
        width: 100%;
    }

    /* Left Panels Specific Styling */
    .contact-left-panel {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column: 1 / span 5;
        grid-row: 1 / span 1;
        font-size: small;
    }

    .cerasp-info {
        grid-column: 1 / span 5;
        grid-row: 1 / span 2;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-top: 0px;
        max-height: 100%;
    }

    .sponsors {
        grid-column: 1 / span 5;
        grid-row: 3 / span 2;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact-form-container {
        grid-column: 1 / span 5;
        grid-row: 2 / span 2;
    }
    
    /* Captcha and Checkboxes */
    .captcha-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 15px;
    }

    .checkboxes-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .policy-field,
    .newsletter-field {
        display: flex;
        align-items: center;
    }

    .policy-field input,
    .newsletter-field input {
        margin-right: 8px;
    }
}

@media (max-width: 768px) {
    .parent {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        display: grid;
    }
    .info-card-icons {
        width: 10px;
        height: 10px;
    }
    
    /* Contact Form Specific Styling */
    .contact-form-container {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        grid-column: 3 / span 3;
        grid-row: 1 / span 3;
        background: #E3F2FF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);;
        border-radius: 12px;
        padding: 15px;
        font-size: 8px;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .form-group textarea {
        width: 100%;
    }

    /* Left Panels Specific Styling */
    .contact-left-panel {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column: 1 / span 5;
        grid-row: 1 / span 1;
        font-size: 8px;
    }

    .cerasp-info {
        grid-column: 1 / span 5;
        grid-row: 1 / span 2;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-top: 0px;
        max-height: 100%;
    }

    .sponsors {
        grid-column: 1 / span 5;
        grid-row: 3 / span 2;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact-form-container {
        grid-column: 1 / span 5;
        grid-row: 2 / span 2;
    }
    
    /* Captcha and Checkboxes */
    .captcha-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }

    .checkboxes-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .policy-field,
    .newsletter-field {
        display: flex;
        align-items: center;
    }

    .policy-field input,
    .newsletter-field input {
        margin-right: 8px;
    }

    
}

@media (max-width: 640px) {}

@media (max-width: 475px) {}