.equipments-panel-grid {
  margin-top: 5%;
  height: 95%;
  width: 80%;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.equipments-left-content {
  display: flex;
  flex-flow: row wrap;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  gap: 20px;
}

.equipments-right-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
}

.equipments-right-content-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 2em;
}

.individual-equipment {
  position: relative;
  color: rgb(55, 106, 182);
  font-size: 1.2em;
  flex: 1 1 calc(50% - 20px);
  height: 300px;
  max-width: calc(50% - 20px);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  overflow: hidden; /* Ensures no content overflows */
}

.individual-equipment-image {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  position: relative;
}

.individual-equipment:hover .individual-equipment-image::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Semi-transparent black for darken effect */
  z-index: 1; /* Overlay stays above the image */
  object-fit: cover;
}

.equipment-title {
  margin-top: 10px;
  font-size: 1rem;
  color: rgb(55, 106, 182);
  text-align: center;
  margin-bottom: 10px;
  z-index: 2;
}

.individual-equipment .learn-more-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.individual-equipment:hover .learn-more-button {
  opacity: 1;
}

/* Pagination buttons styles */
.pagination-controls {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.pagination-arrow {
  font-size: 2em;
  background-color: transparent;
  border: none;
  color: rgb(55, 106, 182);
  cursor: pointer;
  margin: 0 20px;
  transition: transform 0.2s;
}

.pagination-arrow:disabled {
  color: grey;
  cursor: not-allowed;
}

.pagination-arrow:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .equipments-panel-grid {
    margin-top: 0%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .equipments-right-content-text {
    text-align: center;
    font-size: 16px;
    /* margin-bottom: 1em; */
  }

  .equipments-right-content {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .equipments-left-content {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }

  .individual-equipment {
    height: 100%;
  }
}

@media (max-width: 576px) {
  .equipments-panel-grid {
    height: 90%;
  }

  .equipments-right-content-text {
    display: none;
  }

  .individual-equipment {
    align-self: center;
    min-width: 100%;
  }
}
