.two-image-two-text {
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
}

.image-left-panel {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin: 20px 0;
    margin-top: 50px;
}

.image-right-panel {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 10px;
    border-radius: 15px;
    margin: 20px 0; */
}

.text-left-panel {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    padding: 10px;
    margin-left: 50px;
    text-overflow: ellipsis;
    color: #333;
}

.text-right-panel {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    padding: 10px;
    color: #333;
}

.text-left-panel p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.text-right-panel p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.image-placeholder {
    width: 400px;
    height: 350px;
    display: flex;
    background-color: #ddd;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 18px;
    border: 2px dashed #ccc;
}

@media (max-width: 1536px) {}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .two-image-two-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-left-panel,
    .image-right-panel,
    .text-left-panel,
    .text-right-panel {
        flex: none;
        width: 100%;
        padding: 10px 0;
    }
}

@media (max-width: 640px) {}

@media (max-width: 475px) {}