.project-panel-c-grid-layout {
  margin-top: 50px;
  display: grid;
  height: 80%;
  width: 70%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Generic panel styles */
.project-panel {
  background: var(--project-panel-background);
  color: var(--project-panel-color);
  border-radius: var(--project-panel-border-radius);
  padding: var(--project-panel-padding);
  box-shadow: var(--project-panel-shadow);
}

/* Top Left Text */
.top-left-text {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

/* Three Circles */
.three-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.circle-left,
.circle-center,
.circle-right {
  width: 33.33%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.circle-left {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 4px 4px rgba(219, 219, 219, 0.8);
}

.circle-center {
  background-color: rgb(196, 196, 196);
  box-shadow: 0px 0px 4px 4px rgba(184, 184, 184, 0.8);
}

.circle-right {
  background-color: rgb(145, 145, 145);
  box-shadow: 0px 0px 4px 4px rgba(145, 145, 145, 0.8);
}

/* Middle Row */
.middle-row {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  overflow: hidden;
}

.middle-row img,
.bottom-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Bottom Panels */
.bottom-left {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  background-color: rgb(245, 230, 210);
}

.bottom-right-text {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  padding: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Apply shared styles */
.middle-row,
.bottom-left,
.bottom-right-text {
  border-radius: var(--project-panel-border-radius);
  box-shadow: var(--project-panel-shadow);
}
