.project-panel-b-grid-layout {
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 20px;
}

/* Generic panel styles */
.project-panel {
  background: var(--project-panel-background);
  color: var(--project-panel-color);
  border-radius: var(--project-panel-border-radius);
  padding: var(--project-panel-padding);
  box-shadow: var(--project-panel-shadow);
}

/* Top Panel */
.top-right-title {
  position: absolute;
  background-color: white;
  border-radius: 0px 10px 0px 10px;
  border-left: 2px solid rgb(230, 230, 230);
  border-bottom: 2px solid rgb(230, 230, 230);
  width: 400px;
  height: 100px;
  top: 0;
  right: 0;
  color: black;
  font-size: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-image {
  background-color: rgb(182, 182, 182);
  grid-row: 1 / span 4;
  grid-column: 1 / span 3;
  overflow: hidden;
}

/* Panels using shared project-panel styles */
.middle-left-quote {
  grid-row: 4 / span 2;
  grid-column: 1 / span 1;
  border-radius: 0px 20px 0px 0px;
  font-size: 38px;
}

.bottom-left-image {
  grid-row: 6 / span 2;
  grid-column: 1 / span 1;
}

.bottom-center-image {
  grid-row: 5 / span 3;
  grid-column: 2 / span 1;
}

.bottom-right-headline {
  grid-row: 5 / span 3;
  grid-column: 3 / span 1;
  font-size: 20px;
  text-align: justify;
}

/* Apply shared styles */
.top-image,
.middle-left-quote,
.bottom-left-image,
.bottom-center-image,
.bottom-right-headline {
  background: var(--project-panel-background);
  color: var(--project-panel-color);
  border-radius: var(--project-panel-border-radius);
  padding: var(--project-panel-padding);
  box-shadow: var(--project-panel-shadow);
}

img {
  /* border-radius: var(--project-panel-border-radius); */
}
