.team-cards {
  position: relative;
  z-index: 10;
  margin-top: -15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-m);
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .team-cards {
    width: 100%;
    gap: 2em;
  }
}

@media screen and (max-width: 576px) {
  .about-team {
    padding-top: 40px;
    padding-bottom: 4em;
  }

  .about-team h1 {
    margin-bottom: 1.5em;
  }

  .team-cards {
    gap: 1.5em;
  }
}
