.about-overview {
  padding: 8em 8em 0em 8em;
  padding-top: 90px;
  background-color: rgb(25, 25, 36);
  color: rgb(243, 243, 243);
}

.about-overview-layout {
  padding: 1em;
}

.about-overview-header {
  padding: 2em 0;
}

.about-overview-header h1 {
  margin-bottom: 1em;
}

.about-overview-header p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.about-overview-sections {
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3em;
}

.about-overview-sections > div {
  flex: 1 1 20%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}

.about-overview-sections p {
  font-size: 1.1em;
  line-height: 1.6em;
}

/* Individual section borders */
.about-overview-mission {
  border: 4px solid rgb(27, 91, 151);
}

.about-overview-vision {
  border: 4px solid rgb(81, 81, 95);
}

.about-overview-values {
  border: 4px solid rgb(46, 106, 196);
}
