.about-facilities {
  padding: 0 8em 0em 8em;
  padding-top: 90px;
}

.about-facilities-layout {
  display: flex;
  flex-direction: column;
}

.facility-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 32%;
  flex: 1;
}

.about-facilities-images {
  display: flex;
  justify-content: space-between;
}

.facility-card img {
  border: 2px solid rgb(121, 188, 250);
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.facility-card h2 {
  margin-bottom: 0;
}

.facility-card p {
  text-align: center;
}

.about-facilities-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  padding: 2em 5em 2em 5em;
}

.about-facilities-map img {
  width: 75%;
}
