.about-partners {
  padding: var(--global-page-padding);
  padding-top: 90px;
  background-color: white;
  color: rgb(31, 31, 31);
}

.about-partners hr {
  margin-top: 1em;
  margin-bottom: 2em;
  border: 2px solid rgb(80, 80, 80);
  width: 100%;
}

.partner-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.partner-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-card-img {
  width: 80%;
}
