.about-partners {
  padding: var(--global-page-padding);
  padding-top: 90px;
  background-color: #1a1a1a;
  color: #ccc;
}

.about-partners h1 {
  font-size: 1.4rem;
}

.about-partners hr {
  margin-top: 1em;
  margin-bottom: 2em;
  border: 2px solid rgb(80, 80, 80);
  width: 100%;
}

.partner-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.partner-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-card-img {
  width: 65%;
}

@media screen and (max-width: 1200px) {
  .partner-card-img {
    width: 100%;
  }
}
