.five-steps-grid-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);

    padding: 0 8em 0em 8em;
    padding-top: 120px;
    padding-bottom: 8em;

    border: solid 1px #8585851d;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.top-row {
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
  color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.bottom-row {
  grid-column: 1 / span 5;
  grid-row: 1 / span 2;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottom-row p {
  font-size: 2em;
  padding-bottom: 1em;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  text-align: left; /* Changed text alignment to left */
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.step .icon {
  background-color: #4f4f4f;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.expertise-applied-title {
  font-size: 24px;
  font-weight: bold;
  color: #4f4f4f;
}

.step .content {
  font-family: "Roboto";
  align-items: flex-start;
  text-align: center;
  color: #4f4f4f; 
  margin-top: 50px;
}

.step1 {
  grid-column: 1 / span 1;
  grid-row: 5 / span 5;
  background-color: #ff7f7f;
}

.step2 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 7;
  background-color: #ffbf7f;
}

.step3 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 6;
  background-color: #ffff7f;
}

.step4 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 7;
  background-color: #bfff7f;
}

.step5 {
  grid-column: 5 / span 1;
  grid-row: 5 / span 5;
  background-color: #7fff7f;
}

@media (max-width: 1024px) {
  .five-steps-grid-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .step {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (max-width: 640px) {
  .five-steps-grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .step {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (max-width: 1536px) {
  .five-steps-grid-layout {
    width: 80%;
    font-size: medium;
  }
}

@media (max-width: 1280px) {
  .five-steps-grid-layout {
    width: 90%;
    font-size: small;
  }

  .step {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .five-steps-grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 15px;
  }

  .step {
    padding: 10px;
    font-size: 16px;
  }

  .step .icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .title {
    font-size: 20px;
  }

  .step .content {
    font-size: 14px;
    margin-top: 30px;
  }
}

@media (max-width: 475px) {
  .five-steps-grid-layout {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: repeat(5, auto); /* Align steps top to bottom */
    gap: 5px; /* Adjust gap for smaller screens */
  }

  .top-row {
    margin-top: 0px;
  }

  .five-steps-grid-layout h2 {
    font-size: 24px;
  }

  .step {
    grid-column: 1 / span 1; /* Ensure each step occupies full width */
    grid-row: auto; /* Automatically adjust row placement */
    text-align: center; /* Center-align content for better readability */
  }

  .title {
    font-size: 16px;
  }

  .step .icon {
    margin: 0 auto; /* Center the icon */
  }

  .step .content {
    text-align: center; /* Center-align content text */
    margin-top: 15px; /* Adjust spacing for smaller screens */
  }
}
