header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #d8e5e9;
  box-shadow: 0px 0px 14px 2px rgb(45, 45, 45);
}

header img {
  max-height: 90px;
}
