.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin: 0 8px;
}

.nav-list a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  margin-inline-start: 40px;
}

.nav-list a:hover {
  color: #437897;
}

span {
  display: none;
}

/* Media Query for mobile */
@media (max-width: 1024px) {
  .hamburger {
    background: none;
    border: none;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
  }

  .nav-list {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 0;
  }

  .nav-list.show {
    right: 0;
    padding: 0;
  }

  .nav-list li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  /* First <li> gets a border at the top */
  .nav-list li:first-child {
    border-top: 1px solid rgb(201, 201, 201);
  }

  .nav-list a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(59, 73, 104);
    display: block;
    width: 100%;
    text-align: left; /* Ensure text is centered */
    padding: 10px 0;
  }

  span {
    display: inline-block;
    margin-right: 30px;
  }
}
