/* SCROLL PANEL COMPONENT */

.scroll-panel {
  scroll-snap-align: end;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
}

.scroll-panel.dark-blue {
  background-color: #70aff3;
  color: #fff;
}

.scroll-panel.light-blue {
  background-color: #d0e1e9;
  color: #333;
}
