/* ========================= */
/* SIDE BY SIDE PANEL */
/* ========================= */

.side-by-side-panel {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
  height: 100%;
  width: 100%;
}

.banner-panel {
  background: none;
  color: white;
  font-size: 1.5rem;
  text-align: center;

  justify-content: center;
  align-items: center;
  grid-column: span 2;
  grid-row: span 5;
}

.middle-panel {
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 24px;
    line-height: 1.6;
  }

  display: flex;
  color: rgb(51, 60, 71);
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  grid-column: 3 / span 6;
  grid-row: span 5;
  padding-left: 100px;
}

.right-panel {
  grid-column: 9 / span 1;
  grid-row: span 5;
  background-color: none;
}

@media (max-width: 1024px) {
  .banner-panel {
    grid-row: 1 / span 5;
    grid-column: 1 / span 9;
  }

  .middle-panel {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
    }

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    grid-column: 1 / span 8;
    grid-row: 1 / span 5;
    width: 100%;
    text-align: center;
    margin: 40px;
    padding: 30px; /* Add padding */
    box-sizing: border-box;
  }

  .empty-space {
    display: none;
    grid-column: 1 / span 9; /* Span full width */
    grid-row: auto; /* Let it flow naturally */
    height: 200px; /* Adjust height as needed */
    background-color: black; /* Keeps it black */
  }
}
