.animal-health-photo {
  width: 40vw;
  padding-left: 40vw;
}

@media screen and (max-width: 1200px) {
  .animal-health-photo {
    width: 60vw;
  }
}

@media screen and (max-width: 900px) {
  .animal-health-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;

    padding: 0;
  }
}
