.landing-page-overlay {
  z-index: 101;
}

.landing-layout {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 14;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-gridlines-thin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  opacity: 0.04;
  background: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(20vw - 1px),
    var(--gridline-light-blue) calc(20vw - 1px),
    var(--gridline-light-blue) 20vw
  );
}

.landing-white-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  padding-top: 10vh;
  width: 80%;
  height: 100vh;
}

.landing-white-box-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  padding-left: 5vw;
  /* border: 2px dashed green; */
}

.landing-white-box-img {
  background-color: white;
  width: 100vw;
  height: 90vh;
  position: fixed;
  top: calc(10vh - 4px);
  left: 0;
  z-index: -1;
  opacity: 1;
}

.landing-white-box-img img {
  position: fixed;
  top: calc(10vh - 4px);
  height: 100%;
  opacity: 0.2;
}

.landing-white-box-content h1 {
  margin-top: 1em;
  padding-right: 25vw;
  font-size: var(--text-l5);
  color: var(--color-button-blue);
  font-weight: 400;
}

.landing-white-box-content p {
  margin-top: -1.4em;
  padding-right: 6em;
  line-height: 1.4;
  font-weight: 200;
  text-align: justify;
  font-size: var(--text-m);
}

.landing-white-box-numbers {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  gap: 10px;
  /* background-color: rgba(255, 255, 255, 0.712); */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.295) 10%,
    rgba(255, 255, 255, 0.904) 100%
  );
}

.landing-white-box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  aspect-ratio: 1 / 1;
}

.landing-white-box-item .number {
  font-size: var(--text-l4);
  color: var(--color-button-blue);
}

.landing-white-box-item .info {
  text-align: center;
  font-size: var(--text-m);
  font-weight: 600;
}

.landing-gridlines-normal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(20vw - 2px),
    var(--gridline-light-blue) calc(20vw - 2px),
    var(--gridline-light-blue) 20vw
  );
}

.landing-gradient-bg {
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #0c3277ff 0%,
    #2d76ff 35%,
    #5590ffff 100%
  );
}

.landing-content-alignment {
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
}

.landing-logo img {
  transform: translate(-50%, -125%);
  width: 600px;
}

.landing-subtext {
  position: absolute;
  top: 50%; /* slightly below logo, adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 50vw;
  color: white;
  font-weight: 200;
  font-size: 3rem;
}

.landing-subtext-larger {
  font-size: var(--text-l4) !important;
  font-weight: 600;
}

.landing-subtext-2 {
  width: 100vw;
}

.landing-subtext-2 p {
  transform: translate(-50%, 100%);
  font-weight: 200;
  font-size: 6rem;
  margin: 0;
}

.landing-black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 1;
  pointer-events: none;
}

.sb-col-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 110vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}

.sb-col-2 {
  position: fixed;
  top: 0;
  left: 20vw;
  width: 20vw;
  height: 100vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}

.sb-col-3 {
  position: fixed;
  top: 0;
  left: 40vw;
  width: 20vw;
  height: 100vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}

.sb-col-4 {
  position: fixed;
  top: 0;
  left: 60vw;
  width: 20vw;
  height: 100vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}

.sb-col-5 {
  position: fixed;
  top: 0;
  left: 80vw;
  width: 20vw;
  height: 100vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}
