.layout-page {
  color: #424242;
  position: relative;
}

.layout-color-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background-color: rgb(45, 101, 255);
  z-index: 10;
}

.layout-sidebar {
  margin-top: 130px;
  margin-left: 50px;
  height: auto;
}

.layout-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.layout-sidebar li {
  margin: 0 0 1em 0;
}

.layout-sidebar a {
  text-decoration: none;
  color: #0056b3;
  font-weight: 600;
  font-size: var(--text-xl);
}

.layout-sidebar a:hover {
  color: rgb(44, 58, 85);
}
