.sandbox-layout {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sandbox-gridlines-thin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  opacity: 0.04;
  background: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(20vw - 1px),
    var(--gridline-light-blue) calc(20vw - 1px),
    var(--gridline-light-blue) 20vw
  );
}

.sandbox-white-box {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.sandbox-white-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 300;
  height: 100vh;
  grid-column: 1 / 5;
  padding-left: 10vw;
}

.sandbox-white-box-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.sandbox-white-box-img img {
  opacity: 0.3;
}

.sandbox-white-box-content h1 {
  z-index: 1;
  padding-right: 2.2em;
  font-size: var(--text-l6);
  color: var(--color-dodger-blue);
  font-weight: 400;
}

.sandbox-white-box-content p {
  padding-right: 1.6em;
  line-height: 1.6;
  z-index: 1;
  font-size: var(--text-l2);
}

.sandbox-gridlines-normal {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(20vw - 2px),
    var(--gridline-light-blue) calc(20vw - 2px),
    var(--gridline-light-blue) 20vw
  );
}

.sandbox-gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #0c3277ff 0%,
    #2d76ff 35%,
    #5590ffff 100%
  );
}

.sandbox-content-alignment {
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
}

.sandbox-logo img {
  transform: translate(-50%, -125%);
  width: 600px;
}

.sandbox-subtext-1 p {
  transform: translate(-50%, -50%);
  width: 50vw;
  font-weight: 200;
  font-size: 3rem;
  margin-top: 0.4em;
}

.sandbox-subtext-2 {
  width: 100vw;
}

.sandbox-subtext-2 p {
  transform: translate(-50%, 100%);
  font-weight: 200;
  font-size: 6rem;
  margin: 0;
}

.sandbox-black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 1;
  pointer-events: none;
}

.sandbox-contact-icon {
  position: fixed;
  bottom: 5vh;
  right: 10vw;
  z-index: 100;
  transform: translate(50%, 0%);
}

.sb-col-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}

.sb-col-2 {
  position: fixed;
  top: 0;
  left: 20vw;
  width: 20vw;
  height: 100vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}

.sb-col-3 {
  position: fixed;
  top: 0;
  left: 40vw;
  width: 20vw;
  height: 100vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}

.sb-col-4 {
  position: fixed;
  top: 0;
  left: 60vw;
  width: 20vw;
  height: 100vh;
  background-color: var(--color-dodger-blue);
  z-index: 10;
}
