.subpage {
  width: 100vw;
  position: relative;
}

.subpage-overview {
  display: flex;
  flex-direction: column;
}

.subpage-overview-intro {
  /* border: 3px dashed blue; */
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-block: var(--space-xl);
}

.subpage-overview-intro h1 {
  grid-column: 2 / 5;
  font-size: var(--text-l4);
  color: var(--color-button-blue);
}

.subpage-overview-intro p {
  grid-column: 2 / 5;
  line-height: 1.4;
  font-size: var(--text-l2);
  padding-right: 1em;
}

.subpage-overview-image {
  display: flex;
  width: 100vw;
  /* border: 3px solid blue; */
  margin-block: var(--space-xl);
}

.subpage-overview-img-right {
  border: 2px dashed red;
}

.subpage-bullet-list {
  /* border: 2px dashed green; */
  margin-left: 20vw;
  width: 35vw;
  padding-right: 1em;
  margin-bottom: var(--space-l);
}

.subpage-bullet-list li {
  list-style-type: circle;
}

.subpage-bullet-list li::marker {
  font-size: 1.5em;
}

.subpage-bullet-list h3 {
  padding-left: 0.4em;
  font-size: var(--text-l2);
}

.subpage-bullet-list p strong {
  font-weight: 800;
  font-size: var(--text-s);
}

.subpage-bullet-list p {
  font-size: var(--text-s);
}
