.landing-page {
  text-align: center;
  padding: 20px;
  width: 70%;
  height: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.fade-in-out {
  animation: fade-in-out 1s ease-in-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-content {
  animation: fadeIn 1s forwards;
}

.square {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  width: 150px;
  height: auto;
}

.text {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
}
